<section class="container px-4 mx-auto py-20">


  <div class="flex justify-between w-full items-center gap-x-3">
    <h2 class="text-lg font-medium text-gray-800 ">Team members</h2>

    <input name="searchTerm" [(ngModel)]="searchTerm" (input)="filteredMembers()" placeholder="Search by name or family Name" class="w-1/3 p-2 border rounded ">


    <div>
      <button (click)="popupForm.openPopup()" class="Btn bg-black">
        <div class="sign">

          <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg>
        </div>

        <div class="text">Create</div>
      </button>

      <app-member-create #popupForm></app-member-create>
    </div>


</div>

  <div class="flex flex-col mt-6">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
              <div class="overflow-hidden border border-gray-200 md:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-200 ">
                      <thead class="bg-gray-50 ">
                          <tr>

                              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 ">
                                #
                              </th>
                              <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-600">
                                  <div class="flex items-center gap-x-3">
                                      <span>name</span>
                                  </div>
                              </th>

                              <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 ">
                                  <div class="flex items-center gap-x-2">
                                      <span>familyName</span>
                                  </div>
                              </th>

                              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600">
                                  <div class="flex items-center gap-x-2">
                                      <span>accession Date</span>
                                  </div>
                              </th>

                              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 ">
                                nationality
                              </th>

                              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 ">
                                identity Document
                              </th>
                              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 ">
                                identity Number
                              </th>

                              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 ">
                                Actions
                              </th>


                          </tr>
                      </thead>
                      <tbody class="bg-white divide-y divide-gray-200 ">


                          <tr *ngFor="let member of filteredMembers(); let i = index">
                              <td class="px-4 py-4 text-sm text-gray-400  whitespace-nowrap">
                                <div class="inline-flex items-center gap-x-3">

                                  <p class="text-sm font-normal text-gray-600 ">{{i + 1}}</p>

                                </div>
                              </td>
                              <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                  <div class="inline-flex items-center gap-x-3">

                                     <p class="text-sm font-normal text-gray-600 ">{{member.name}}</p>

                                  </div>
                              </td>
                              <td class="px-12 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                  <div class="inline-flex items-center gap-x-3">

                                     <p class="text-sm font-normal text-gray-600 ">{{member.familyName}}</p>

                                  </div>
                              </td>
                              <td class="px-4 py-4 text-sm text-gray-400  whitespace-nowrap">
                                <div class="inline-flex items-center gap-x-3">

                                  <p class="text-sm font-normal text-gray-600 ">{{member.accessionDate}}</p>

                               </div>
                              </td>
                              <td class="px-4 py-4 text-sm text-gray-400  whitespace-nowrap">
                                <div class="inline-flex items-center gap-x-3">

                                  <p class="text-sm font-normal text-gray-600 ">{{member.nationality}}</p>

                               </div>
                              </td>

                              <td class="px-4 py-4 text-sm text-gray-400  whitespace-nowrap">
                                <div class="inline-flex items-center gap-x-3">

                                  <p class="text-sm font-normal text-gray-600 ">{{member.identityDocument}}</p>

                               </div>
                              </td>

                              <td class="px-4 py-4 text-sm text-gray-400  whitespace-nowrap">
                                <div class="inline-flex items-center gap-x-3">

                                  <p class="text-sm font-normal text-gray-600 ">{{member.identityNumber}}</p>

                               </div>
                              </td>



                              <td class="px-4 py-4 text-sm whitespace-nowrap">
                                  <div class="flex items-center gap-x-6">
                                      <span (click)="deleteMember(member.id)" class="text-gray-600 transition-colors duration-200 dark:hover:text-red-500 dark:text-gray-300 hover:text-red-500 focus:outline-none">
                                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                              <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                          </svg>
                                        </span>

                                      <button (click)="editMember(member)" class="text-gray-600 transition-colors duration-200 dark:hover:text-yellow-500 dark:text-gray-300 hover:text-yellow-500 focus:outline-none">
                                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                              <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                          </svg>
                                      </button>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>

  <div class="flex items-center justify-between mt-6">
      <button  (click)="onPageChange(page - 1)" class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
          </svg>

          <span>
              previous
          </span>
      </button>

      <div class="items-center hidden lg:flex gap-x-3">
        <button *ngFor="let page of getNumberPages()" (click)="onPageChange(page)" class="px-2 py-1 text-sm text-blue-500 rounded-md dark:bg-gray-800 bg-blue-100/60">
          {{ page }}
        </button>

      </div>

      <button (click)="onPageChange(page + 1)" class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
          <span>
              Next
          </span>

          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
          </svg>
      </button>
  </div>
</section>







<div>
  <div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50" *ngIf="showPopup">

    <form (ngSubmit)="updateForm()" class="w-1/3 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <h2 class="text-2xl font-bold mb-4">Add Member</h2>


      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          name
        </label>
        <input [(ngModel)]="myMember.name" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="name">
      </div>

      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="mb-4 w-full md:w-1/2 px-3 md:mb-0">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
            family name
          </label>
          <input [(ngModel)]="myMember.familyName" name="familyName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="familyName" type="text" placeholder="family name">
        </div>
        <div class="mb-6 w-full md:w-1/2 px-3 md:mb-0">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            accession date
          </label>
          <input [(ngModel)]="myMember.accessionDate" name="accessionDate" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="accessionDate" type="date" placeholder="accessionDate">
        </div>
      </div>

      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="mb-4 w-full md:w-1/2 px-3 md:mb-0">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
            nationality
          </label>
          <input [(ngModel)]="myMember.nationality" name="nationality" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nationality" type="text" placeholder="nationality">
        </div>

        <div class="mb-6 w-full md:w-1/2 px-3 md:mb-0">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            identity document
          </label>

          <select [(ngModel)]="myMember.identityDocument" name="identityDocument" id="identityDocument" class="shadow rounded w-full p-2 mb-6 text-sm text-gray-700 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:focus:border-blue-500">
            <option selected>Choose a type</option>
            <option value="CIN">CIN</option>
            <option value="CARTE_RESIDENCE">CARTE RESIDENCE</option>
            <option value="PASSPORT">PASSPORT</option>
          </select>

        </div>
      </div>

      <div class="mb-6 w-full ">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          identityNumber
        </label>
        <input [(ngModel)]="myMember.identityNumber" name="identityNumber" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="identityNumber" type="text" placeholder="identity number">
      </div>

      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Add
        </button>
        <button (click)="closePopup()" type="button" class="bg-gray-500 hover:bg-black text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Close</button>

      </div>

    </form>
  </div>
</div>
